<div>
  {% assign data = include.data %}
  <div class="container mx-auto p-6">

    <!-- Header Section -->
    {% if data.Title or data.Description %}
      <div class="text-center mb-10">
        {% if data.Title %}
          <h1 class="text-5xl font-bold mb-2 font-serif">{{ data.Title }}</h1>
        {% endif %}
        {% if data.Description %}
          <p class="text-lg text-gray-600 font-sans">{{ data.Description }}</p>
        {% endif %}
      </div>
    {% endif %}

    <!-- Explanation Cards -->
    <div class="space-y-8">
      {% for topic in data.Topics %}
        <div class="flex flex-col bg-zinc-800 text-white dark:bg-zinc-900 rounded-2xl overflow-hidden shadow-lg w-full">

          <!-- Content Section -->
          <div class="flex-1 p-6 mb-6">
            {% if topic.title %}
              <h2 class="text-3xl font-bold mb-4 font-serif">{{ topic.title }}</h2>
            {% endif %}

            {% if topic.code %}
              <div class="relative bg-zinc-950 text-gray-900 font-mono text-sm p-4 rounded-md mb-4 overflow-x-auto">
                <pre><code>{{ topic.code | escape }}</code></pre>
              </div>
            {% endif %}

            {% if topic.description %}
              <p class="text-base font-sans whitespace-pre-line">{{ topic.description }}</p>
            {% endif %}
          </div>

          <!-- Optional Image Section -->
          {% if topic.images %}
            <div class="w-full flex justify-center mt-auto">
              <div class="flex justify-center space-x-4">
                {% for image in topic.images %}
                  <div class="mb-4">
                    <img src="{{ site.baseurl }}/images/tailwinds{{ image.src }}" alt="{{ image.alt | default: 'Illustration' }}" class="w-auto h-auto object-cover">
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}

          <!-- Optional Video Section -->
          {% if topic.video %}
            <div class="p-4">
              <video controls class="w-full rounded-md shadow-md">
                <source src="{{ site.baseurl }}/videos/{{ topic.video }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>

  </div>
</div>